/**
*   ETML
*   Auteur : Jérôme Wassenberg, Jonathan Mayor, Timothée Guggisberg
*   Date : 21.03.2017
*   Description : Page de style de la page de visualisation des élèves et des enseignants
**/

body{
    background-image: url("../../ressources/images/blackboard.png");
    background-attachment: fixed;
    height: 100%;
}

#container{
    height: 100%;
    width: 100%;
    margin: auto;
}

section{
    min-height: 180vh;
}

#cour{
    background-color: white;
    margin: auto;
    width: 20vmin;
    height: 30vmin;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5vmin;
    margin-bottom: 1vmin;
    box-shadow: 7px 6px 61px -17px rgba(0,0,0,0.75);
}

#name{
    padding-top: 1.5vmin;
    width: 20vmin;
    height: 8vmin;
    background-color: #e7e7e7;
    text-align: center;
    font-size: 2.5vmin;
    bottom: 0;
}

#logo{
    margin: auto;
}

#logo img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

p{
    color: black;
}

p:visited{
    text-decoration: none;
}

p:hover{
    text-decoration: none;
}

p:link{
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}